body{
    background-color: azure;
}

main{
   
}
#easy-bank{
    background-color: #C4C4C4;

}
.logo{
    width: 400px;
    margin: 2em  0;
}
#easy-bank>p{
    width: 570px;
    margin-left: auto;
    margin-right: auto;

    font-size: 25px;
    color: #737176;
}